{
    "apps": [
        {
            "name": "apicarto-cadastre",
            "script": "server.js",
            "exec_mode": "cluster",
            "instances": 1,
            "env": {
                "PORT": 8080,
                "GEOPORTAIL_KEY": "",
                "GEOPORTAIL_REFERER": "http://localhost",
                "HTTP_PROXY": "http://i-want-to-leave-my-jail.tld"
            }
        }
    ]
}
